.header {
    perspective: 123px;
}

.header>h3 {
    transform: rotateX(30deg);
}

.angular {
    position: absolute;
    left: 110px;
    top: 178px;
    font-weight: bold !important;
    color: darkblue;
}

.vue{
    position: absolute;
    left: 460px;
    top: 538px;
    font-weight: bold !important;
    color: darkblue;
}

.react{
    position: absolute;
    left: 750px;
    top: 202px;
    font-weight: bold !important;
    color: darkblue;
}

.backbone{
    position: absolute;
    left: 739px;
    top: 522px;
    font-weight: bold !important;
    color: darkblue;
}

pre {
    box-shadow: none !important;
}

pre.wide {
    width: 100%;
}

code {
    max-height: none !important;
}

code.inline {
    background: #eee;
    padding: 0px 4px 2px 3px;
}

.vert-mn-0{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.slim-code{
    font-size: 15px !important;
    line-height: 21px !important;
}

.fight{
    position: absolute;
    border: none !important;
    box-shadow: none !important;
    left: 424px;
    background: none !important;
    top: 280px;
    transform: rotateZ(-30deg);
}